/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Cabin:400,600,700|Ubuntu:400,700);

/* Import jQuery UI theme */
@import url(jquery-ui.css);

/* Import css framework */
@import url(framework.css);

/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0px;padding:0px;}table{border-collapse:collapse;border-spacing:0px;}fieldset,img{border:0px;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0px;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000000;}#yui3-css-stamp.cssreset{display:none;}

/* Body */
body { font-family: 'Ubuntu', sans-serif; font-size: 18px; color: #161616; background-color: #161616; }

/* Backgrounds */
.bgdark { background-color: #161616; }
.bglighter { background-color: #1b1b1b; }
.bggreen { background-color: #165f0c; }
.bgred { background-color: #b02017; }
.bgblue { background-color: #2e9dc8; }
.bglight { background-color: #eeeeee; }
.bgwhite { background-color: #ffffff; }

/* Border colours */
.borderblue { border-color: #2e9dc8; }

/* Text styles */
.ubuntu { font-family: 'Ubuntu', sans-serif; }
.cabin { font-family: 'Cabin', sans-serif; }

h1, h2, h3, p { line-height: 1.5em; }

h1 { font-family: 'Cabin', sans-serif; font-weight: 700; font-size: 48px; }
h2 { font-family: 'Cabin', sans-serif; font-weight: 600; font-size: 30px; }
h3 { font-family: 'Cabin', sans-serif; font-weight: 600; font-size: 24px; }

.font-white { color: #ffffff; }
.font-blue { color: #2e9dc8; }
.font-red { color: #b02017; }

/* Links */
a { text-decoration: none; color: inherit; }

a.link { font-weight: bold; font-weight: 700; color: #2e9dc8; }
a.link:hover { text-decoration: underline; }

a.button { display: block; font-weight: 700; padding: 0px 20px; text-align: center; height: 40px; line-height: 40px; background-color: #2e9dc8; color: #ffffff; }
a.button:hover { background-color: #161616; }

a.navbutton { display: block; font-weight: 700; padding: 0px 20px; text-align: center; height: 35px; line-height: 35px; background-color: #1b1b1b; color: #ffffff; }
a.navbutton:hover { background-color: #323232;}
a.nav-selected, a.nav-selected:hover, a.subnavbutton { background-color: #2e9dc8; }
a.subnav-selected, a.subnav-selected:hover { background-color: #ffffff; color: #2e9dc8; }
a.subnavbutton:hover { background-color: #58b1d3; }

a.lightbutton { background-color: #eeeeee; }
a.lightbutton:hover { background-color: #dddddd; }

/* Transitions */
a, input[type=submit] { transition: background 1s ease, color 1s ease; -moz-transition: background 1s ease, color 1s ease; -webkit-transition: background 1s ease, color 1s ease; -o-transition: background 1s ease, color 1s ease; -ms-transition: background 1s ease, color 1s ease; }
.notransition { transition: none; -moz-transition: none; -webkit-transition: none; -o-transition: none; -ms-transition: none; }

/* Forms */
label { display: block; }

input, textarea, select { border: 0px; }

input[type=text], input[type=password], input[type=email], select { width: 100%; }

input[type=submit] { display: block; font-weight: 700; padding: 0px 20px; text-align: center; height: 40px; line-height: 40px; background-color: #2e9dc8; color: #ffffff; cursor: pointer; }
input[type=submit]:hover { background-color: #161616; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0px; }

select { background: #eeeeee url(../images/admin/select.gif) no-repeat right top; border-radius: 0px; }

@-moz-document url-prefix() {
	select { padding: 10px 0px; background-image: none !important; }
}

/* Tables */
table { margin: 20px 0px 0px 0px; width: 100%; height: auto; border-bottom: 5px solid #2e9dc8; }
table th { background-color: #2e9dc8; color: #ffffff; height: 40px; line-height: 40px; font-weight: 700; padding: 0px 20px; }
table td { height: 35px; line-height: 35px; padding: 0px 20px; border-bottom: 1px solid #eeeeee; }
table tr.bglight td { border-bottom: 1px solid #ffffff; }