/* Text styles */
.bold { font-weight: 700; }
.semi-bold { font-weight: 600; }

.notextdecor { text-decoration: none; }
.underline { text-decoration: underline; }

.txtcen { text-align: center; }
.txtleft { text-align: left; }
.txtright { text-align: right; }

/* Font sizes */
.fsel { font-size: 11px; }
.fstw { font-size: 12px; }
.fsfo { font-size: 14px; }
.fsei { font-size: 18px; }
.fstf { font-size: 24px; }
.fsth { font-size: 30px; }
.fsts { font-size: 36px; }
.fsfe { font-size: 48px; }

/* Line heights */
.lnonetwofive{ line-height: 125px; }

.lnfourty { line-height: 40px; }
.lnthirtyfive { line-height: 35px; }

/* Displays */
.dspblock { display: block; }
.dspinline { display: inline; }
.dspnone { display: none; }

/* Clear */
.clear { clear: both; font-size: 0px !important; width: 0px !important; height: 0px !important; line-height: 0px !important; float: none !important; }

/* Floats */
.left { float: left; }
.right { float: right; }

/* Position */
.posabs { position: absolute; }
.posrel { position: relative; }

.topminustwen { top: -20px }
.topminusfifteen { top: -15px }
.topminusten { top: -10px }
.topminusfive { top: -5px }
.topzero { top: 0px; }
.topfive { top: 5px; }
.topten { top: 10px; }
.topfifteen { top: 15px; }
.toptwen { top: 20px; }

.bottomminustwen { bottom: -20px }
.bottomminusfifteen { bottom: -15px }
.bottomminusten { bottom: -10px }
.bottomminusfive { bottom: -5px }
.bottomzero { bottom: 0px; }
.bottomfive { bottom: 5px; }
.bottomten { bottom: 10px; }
.bottomfifteen { bottom: 15px; }
.bottomtwen { bottom: 20px; }

.leftminustwen { left: -20px }
.leftminusfifteen { left: -15px }
.leftminusten { left: -10px }
.leftminusfive { left: -5px }
.leftzero { left: 0px; }
.leftfive { left: 5px; }
.leftten { left: 10px; }
.leftfifteen { left: 15px; }
.lefttwen { left: 20px; }

.rightminustwen { right: -20px }
.rightminusfifteen { right: -15px }
.rightminusten { right: -10px }
.rightminusfive { right: -5px }
.rightzero { right: 0px; }
.rightfive { right: 5px; }
.rightten { right: 10px; }
.rightfifteen { right: 15px; }
.righttwen { right: 20px; }

/* Position absolute center */
.posxcen { left: 50%; }
.posycen { top: 50%; }
.sixfourtycen { margin-left: -320px; }

/* Padding */
.padzero { padding: 0px; }
.padzerotp { padding-top: 0px; }
.padzerobt { padding-bottom: 0px; }
.padzerolt { padding-left: 0px; }
.padzerort { padding-right: 0px; }

.padfive { padding: 5px; }
.padfivetp { padding-top: 5px; }
.padfivebt { padding-bottom: 5px; }
.padfivelt { padding-left: 5px; }
.padfivert { padding-right: 5px; }

.padten { padding: 10px; }
.padtentp { padding-top: 10px; }
.padtenbt { padding-bottom: 10px; }
.padtenlt { padding-left: 10px; }
.padtenrt { padding-right: 10px; }

.padfift { padding: 15px; }
.padfifttp { padding-top: 15px; }
.padfiftbt { padding-bottom: 15px; }
.padfiftlt { padding-left: 15px; }
.padfiftrt { padding-right: 15px; }

.padtwen { padding: 20px; }
.padtwentp { padding-top: 20px; }
.padtwenbt { padding-bottom: 20px; }
.padtwenlt { padding-left: 20px; }
.padtwenrt { padding-right: 20px; }

/* Margin */
.marginauto { margin: auto; }

.marminustwen { margin: -20px; }
.marminustwentp { margin-top: -20px; }
.marminustwenbt { margin-bottom: -20px; }
.marminustwenlt { margin-left: -20px; }
.marminustwenrt { margin-right: -20px; }

.marminusten { margin: -10px; }
.marminustentp { margin-top: -10px; }
.marminustenbt { margin-bottom: -10px; }
.marminustenlt { margin-left: -10px; }
.marminustenrt { margin-right: -10px; }

.marzero { margin: 0px; }
.marzerotp { margin-top: 0px; }
.marzerobt { margin-bottom: 0px; }
.marzerolt { margin-left: 0px; }
.marzerort { margin-right: 0px; }

.marfive { margin: 5px; }
.marfivetp { margin-top: 5px; }
.marfivebt { margin-bottom: 5px; }
.marfivelt { margin-left: 5px; }
.marfivert { margin-right: 5px; }

.marten { margin: 10px; }
.martentp { margin-top: 10px; }
.martenbt { margin-bottom: 10px; }
.martenlt { margin-left: 10px; }
.martenrt { margin-right: 10px; }

.marfift { margin: 15px; }
.marfifttp { margin-top: 15px; }
.marfiftbt { margin-bottom: 15px; }
.marfiftlt { margin-left: 15px; }
.marfiftrt { margin-right: 15px; }

.martwen { margin: 20px; }
.martwentp { margin-top: 20px; }
.martwenbt { margin-bottom: 20px; }
.martwenlt { margin-left: 20px; }
.martwenrt { margin-right: 20px; }

/* Heights */
.oneninefivehigh { height: 195px; }
.onetwofivehigh { height: 125px; }

.fourtyhigh { height: 40px; }
.thirtyfivehigh { height: 35px; }

/* Widths */
.sevenhundredwide { width: 700px; }

.sixhundredwide { width: 600px; }

.fivehundredwide { width: 500px; }

.fourhundredwide { width: 400px; }

.threehundredwide { width: 300px; }

.twohundredwide { width: 200px; }

.onetwofivewide { width: 125px; }
.onehundredwide { width: 100px; }

.sixtywide { width: 60px; }
.fiftywide { width: 50px; }
.fourtywide { width: 40px; }
.thirtywide { width: 30px; }
.twentywide { width: 20px; }
.tenwide { width: 10px; }

.fivewide { width: 5px; }

.fiftypcwide { width: 50%; }

/* Cursors */
.curpointer { cursor: pointer; }

/* Borders */
.bodertpsolid { border-top-style: solid; }
.boderbtsolid { border-bottom-style: solid; }
.boderltsolid { border-left-style: solid; }
.boderrtsolid { border-right-style: solid; }

.borderwidthone { border-width: 1px; }
.borderwidthfive { border-width: 5px; }

/* Layout related */
.border-box { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

/* Pre-set form styles */
input::-moz-focus-inner { padding: 0px; margin: 0px; }
textarea, input, select { outline: none; }
select { cursor: pointer; -webkit-appearance: none; }